#container {
    width: 90vw;
    height: 90vh;
    border: 1px solid red;
    margin: auto;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
#space {
    background-color: rgb(194, 196, 196);
    width: 60cqw;
    height: 85cqh;
    position: relative;
}
#description{
    border: 1px solid brown;
    width: 25cqw;
    height: 85cqh;
}
#creator{
    border: 1px solid gray;
}

.newDiv{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
}