#container {
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
    margin: auto;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    align-content: center;
}
#three{
    width: 15%;
    border: 1px solid gray
}
#space {
    background-color: rgb(194, 196, 196);
    width: 70%;
    height: 100%;
    position: relative;
    overflow: auto;
}
#tabControl{
    width: 15%;
    border: 1px solid gray;
}


.tabNavigation{
    display: flex;
    flex: 0 1 33%;
    align-content: center;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
}
.tabBtn{
    border: 1px solid gray;
    padding: 3px 3px;
    align-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tabBtn:hover{
    overflow:visible;
}
.tabBtnTarget{
    border-bottom: none;
}
.tabBtn>input{
    display: none;
}

.tabPages>div{
    display: none;
}

.containerMetric>input{
    border: 1px solid gray;
}

.containerMetric>label, .containerMetric>input{
    display: block;
    width: 15ch;
    margin: 0 ;
}

.containerMetric{
    display: flex;
    flex: auto 0 0;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 2cqw;
}
 
.newDiv{
    position: absolute;
}

.newDiv:hover{
    outline: 2px solid black;
}

.targetDiv{
    outline: 2px dotted black;
}