#container {
    width: 90vw;
    height: 90vh;
    border: 1px solid red;
    margin: auto;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
#space {
    background-color: rgb(194, 196, 196);
    width: 60cqw;
    height: 85cqh;
    position: relative;
    overflow: auto;
}
#description{
    border: 1px solid brown;
    width: 25cqw;
    height: 85cqh;
}
#creator, #editor{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid gray;
}

.newDiv{
    position: absolute;
}

.newDiv:hover{
    outline: 2px solid black;
}

.targetDiv{
    outline: 2px dotted black;
}